.container{
    display: flex;
    height: 800px;
    width: 100%;
    background-color: dodgerblue;
    flex-direction: row-reverse; /* Sets direction of flexboxes into reverse row order*/
    margin: 20px;
}

.container > div{
height: 400px;
flex: 1; /*Makes every flexbox take up the same amount of space.*/
background-color: white;
margin: 20px;
}

.container > div::first-letter{ /*Makes the first letter of all divs in the container class div bigger.*/
color: black;
font-size: 30px;
}

.flex{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: lightblue;
    justify-content: center; /*Justifies all content to the center.*/
    align-items: center; /*Aligns all items to center, so I don't have to do it through margins*/
    margin: 20px;
}

.flex > div{
    height: 200px;
    width: 200px;
    background-color: white;
}

.menu{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: lightblue;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.menu > div{
    height: 100px;
    flex: 1;
    background-color: white;
    margin: 20px;
}

.menu > div:hover{
    background-color: pink;
    flex: 2;
    transition: 200ms;
}

.menu > div:nth-child(odd){ /*Makes all odd divs in the menu cadet blue*/
    background-color: cadetblue;
}
a:unvisited{ /*Makes all unvisited links red. May not work, clicked before it loaded. Whoops.*/
color: red;
}
a:visited{ /*Makes all visited links red. This one works, I had to add it just in case the other one didn't.*/
    color: red;
}